* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Work Sans;
}
section {
  margin-top: 70px;
}

/************************* Header Area *************************/
.header_area {
  width: 100%;
  background-image: url("../images/banner/banner3.png");
  background-size: 100% 500px;
  background-repeat: no-repeat;
  min-height: 550px;
  display: flex;
  gap: 90px;
}
.empty {
  width: 40%;
}
.header_content {
  width: 40%;
  text-align: right;
  margin-top: 120px;
}
.header_content h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header_content p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.button {
  background-color: #ffffff;
  color: #005fac;
  border: none;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
}
.button:hover {
  color: #ffffff;
  background-color: #005fac;
  box-shadow: 7px 7px 7px #0137f9, inset 7px 7px 7px #0137f9;
  transition: 0.5s;
}

/************************* Failure Area *************************/
.failure_section {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0px 150px 0 200px;
}
.failure_section img {
  width: 451px;
  height: 500px;
}
.failure_content h3 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.failure_content h5 {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.failure_content h6 {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
.failure_content i {
  color: #16d887;
}

/************************* Plans Area *************************/
.plans_section {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.plans_section h2 {
  color: #151414;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}
.plans_item {
  display: flex;
  justify-content: space-between;
}
.plans_category {
  text-align: center;
}
.plans_category h4 {
  color:  #151414;
  font-size: 22px;
  font-weight: 700;
}
.plans_category{
    color: #151414;
    font-size: 18px;
    font-weight: 400;
}

/************************* Keep Area *************************/
.keep_section{
  width: 70%;
  height: 300px;
  background-size: cover;
  margin: auto;
  background-image: url('../images/watch.png');
  background-repeat: no-repeat;
}
.keep_color {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, rgba(17, 0, 255, 0.571), rgba(0, 119, 255, 0.122));
  padding-top: 100px;
}
.keep_color h3 {
  color: #ffffff;
  font-size: 30px;
  margin-left: 50px;
}
.keep_color input {
  margin-left: 50px;
}

footer {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  background-color: #151414;
  display: flex;
  gap: 160px;
}
.future {
  width: 30%;
  margin-left: 120px;
  margin-top: 100px;
}
.future h3, p{
  color: #ffffff;
  margin-bottom: 15px;
}
.future h3{
  font-size: 25px;
}
.icon img{
  margin-right: 10px;
  cursor: pointer;
}
.subscribe{
  width: 30%;
  margin-right: 80px;
  margin-top: 100px;
}
.subscribe input{
  display: block;
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
}
.subscribe h4{
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.subscribe .subs{
  color: #ffffff;
  background-color: #005fac;
  box-shadow: 3px 3px 3px #0137f9, inset 3px 3px 3px #0137f9;
  border-radius: 5px;
}